body {
  margin-bottom: 0;
  width: 100%;
  height: 100%;
}
.lp-body {
  background-color: black;
  height: 105vh;
}
.lp-logo {
  margin-top: -2rem;
}
.lp-hello {
  margin-top: -3rem;
  color: white;
}
.lp-btn {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25rem;
  /* height: 10rem; */
  margin-top: 6rem;
  margin-left: 35%;
}
.lp-btn1 {
  font-size: 1.5em;
  height: 3rem;
  width: 10rem;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #0c7c3f;
  cursor: pointer;
}
.lp-btn1:hover {
  background-color: white;
  border: none;
  color: #0c7c3f;
  transition: 0.5s;
}
.lp-btn2 {
  font-size: 1.5em;
  height: 3rem;
  width: 10rem;
  border: none;
  border-radius: 5px;
  color: #0c7c3f;
  cursor: pointer;
}
.lp-btn2:hover {
  background-color: #0c7c3f;
  border: none;
  color: white;
  transition: 0.5s;
}
