#sp-goo {
  /* border: 1px solid red; */
  width: 1.3rem;
  margin-right: 1.5rem;
  margin-bottom: -0.2rem;
}

.sp-formik {
  /* border: 1px solid blue; */
  font-size: 0.7rem;
  color: red;
  margin-top: -1rem;
}
